p {
  color: green;
  background-color: black;
}

.secondP {
  color: black;
  background-color: gold;
}

.red-title {
  color: red;
  background-color: black;
}

.title {
  color: cyan;
  background-color: yellow;
}
